chess
comet-ml
easy-to-hard-data
einops
hydra-core
icecream
matplotlib
numpy
omegaconf
pandas
Pillow
scipy
seaborn
svglib

tensorboard
protobuf
tensorflow
tensorboard-plugin-wit
torch
torchvision
tqdm
# -e /home/elisa/maze-dataset
maze-dataset
